<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="dev.ch8n.android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:name=".BrainMarkApp"
            android:allowBackup="false"
            android:supportsRtl="true"
            android:label="BrainMark"
            android:icon="@drawable/app_logo"
            android:roundIcon="@drawable/app_logo"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <intent-filter android:name="BrainMark">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:scheme="about"/>
                <data android:scheme="javascript"/>
            </intent-filter>

            <intent-filter android:name="BrainMark">
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:mimeType="text/*"/>
                <data android:mimeType="message/*"/>
            </intent-filter>

        </activity>

        <activity
                android:exported="true"
                android:name=".BrainMarkPreviewActivity"/>
    </application>
</manifest>